.breadcrumbs {
  margin-bottom: 50px;
}

.breadcrumbs__list {
  display: inline-block;
  list-style: none;
  font-size: 14px;
}

.breadcrumbs__item {
  display: inline;
}

.breadcrumbs__item a {
  font-weight: 500;
  color: var(--main-color-font);
  text-decoration: none;
}

.breadcrumbs__item + .breadcrumbs__item {
  padding-left: 10px;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: "/";
  padding-right: 9px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.small-link {
  font-size: 14px;
  color: var(--accent-color);
  text-decoration: underline;
}

.grey-text {
  font-size: 14px;
  color: var(--grey);
}

.example-item--model .example-item__img {
  padding-bottom: 82%;
}

.example-item--model .example-item__img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.example-item--model .example-item__title {
  margin-bottom: 10px;
}

.example-item-brand {
  height: 100%;
  padding: 21px 26px;
  border: 2px solid var(--grey-2);
  border-radius: 4px;
  text-align: center;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.example-item-brand:hover {
  border-color: var(--special-color);
}

.example-item-brand .example-item__img {
  max-width: 230px;
  margin: 0 auto;
  padding-bottom: 45%;
  margin-bottom: 11px;
}

.example-item-brand .example-item__img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.example-item-brand .example-item__offer {
  margin-top: 10px;
}

.example-item-brand .example-item__more {
  margin-bottom: 6px;
}

.example-item-form {
  height: 100%;
  background-color: #EDFFEF;
  border-radius: 4px;
  padding: 20px 25px;
}

.example-item-form__title {
  text-align: center;
  margin-bottom: 10px;
}

.example-item-form__list {
  font-size: 12px;
  padding-left: 23px;
  margin-bottom: 10px;
}

.example-item-form__list li {
  list-style: disc;
}

.example-item-form__phone {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.example-item-form__link {
  display: block;
  color: var(--accent-color);
  text-decoration: underline;
  text-align: center;
  margin-bottom: 12px;
}

.example-item-form__text {
  text-align: center;
  margin: 15px 0;
}

.example-item-form__btn {
  margin-top: 12px;
  width: 100%;
}

.example-item-form--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.example-item-form--flex .example-item-form__btn {
  margin-top: auto;
}

.video-block--small {
  margin: 0;
}

.background-block {
  padding: 28px 30px;
  border-radius: 4px;
  border: 1px solid var(--grey-2);
  background: var(--bg-color);
  margin: 20px 0;
}

.background-block p:last-child {
  margin-bottom: 0;
}

.our-team {
  position: relative;
  margin: 30px 0;
}

.our-team__slide {
  text-align: center;
}

.our-team__img {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  overflow: hidden;
  height: 0;
  padding-bottom: 112%;
}

.our-team__img picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.our-team__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-team__position {
  font-weight: 700;
  margin-bottom: 5px;
}

.our-team__name {
  font-size: 14px;
}

.our-team__button-prev {
  top: 44%;
}

.our-team__button-next {
  top: 44%;
}

.our-team__pagination {
  bottom: -20px !important;
}

.icons-list--light {
  gap: 30px 0;
}

.icons-list--light .icons-list__item {
  width: 22%;
}

.icons-list--light .icons-list__icon {
  width: 35px;
  height: 35px;
}

.icons-list--light .icons-list__title {
  font-weight: 500;
  font-size: 12px;
}

.icons-list--big .icons-list__item {
  width: 49%;
}

.icons-list--big .icons-list__icon {
  width: 35px;
  height: 35px;
}

.icons-list--big .icons-list__title {
  font-size: 16px;
}

.icons-list--big .icons-list__desc {
  font-size: 14px;
  margin: 8px auto 10px;
  max-width: 300px;
}

.icons-list--3 .icons-list__item {
  width: 28%;
}

.icons-list--3 .icons-list__icon {
  width: 35px;
  height: 35px;
}

.icons-list--3 .icons-list__title {
  font-size: 16px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin: 30px 0;
}

.color-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
}

.color-table th,
.color-table tfoot td {
  color: var(--white);
  background-color: var(--accent-color);
  padding: 17px 10px;
  border: 1px solid var(--grey-2);
}

.color-table tr:nth-child(even) {
  background-color: var(--bg-color);
}

.color-table td {
  padding: 9px;
  border: 1px solid var(--grey-2);
  vertical-align: middle;
  text-align: center;
  height: 45px;
}

.color-table td span {
  color: var(--special-color);
}

.table-var {
  font-size: 14px;
  font-weight: 500;
}

.table-var th {
  text-align: left;
  padding: 17px 20px;
}

.table-var td {
  text-align: left;
  padding: 9px 20px;
}

.table-left-1 {
  font-size: 14px;
  font-weight: 500;
}

.table-left-1 th:first-child,
.table-left-1 td:first-child {
  text-align: left;
  padding-left: 20px;
}

.completed-block__row {
  --bs-gutter-y: 20px;
}

.completed-block__item {
  height: 100%;
  padding: 8px;
  padding-bottom: 22px;
  border: 2px solid var(--grey-2);
  border-radius: 4px;
  text-align: center;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.completed-block__item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.completed-block__img {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 78%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

.completed-block__img picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.completed-block__img picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.completed-block__title {
  display: block;
  margin-bottom: 5px;
}

.completed-block__desc {
  display: inline-block;
  font-size: 14px;
  color: var(--grey);
  padding-left: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 10.25C8.225 10.25 7.25 9.275 7.25 8C7.25 6.725 8.225 5.75 9.5 5.75C10.775 5.75 11.75 6.725 11.75 8C11.75 9.275 10.775 10.25 9.5 10.25Z' stroke='%2372707A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.5 16.25C9.5 16.25 4.25 11.9 4.25 8C4.25 5.075 6.575 2.75 9.5 2.75C12.425 2.75 14.75 5.075 14.75 8C14.75 11.975 9.5 16.25 9.5 16.25Z' stroke='%2372707A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left center;
}

.completed-block--narrow .completed-block__item {
  padding-bottom: 5px;
}

.completed-block--narrow .completed-block__img {
  margin-bottom: 11px;
  padding-bottom: 100%;
}

.gallery-block {
  margin: 30px 0;
}

.gallery-block__item {
  border: 2px solid var(--grey-2);
  border-radius: 4px;
  height: 100%;
  padding: 10px;
}

.gallery-block__img {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.gallery-block__img:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery-block__img picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  overflow: hidden;
}

.gallery-block__img picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery-block__title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}

.gallery-block__title-link {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: var(--accent-color);
  text-decoration: underline;
}

.download-form {
  padding: 38px 20px;
  border: 1px solid var(--bg-color);
  border-radius: 4px;
  text-align: center;
  height: 100%;
}

.download-form__title {
  margin-bottom: 17px;
}

.download-form__input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.download-form__input::-webkit-input-placeholder {
  text-align: center;
}

.download-form__input::-moz-placeholder {
  text-align: center;
}

.download-form__input:-ms-input-placeholder {
  text-align: center;
}

.download-form__input::-ms-input-placeholder {
  text-align: center;
}

.download-form__input::placeholder {
  text-align: center;
}

.download-form__btn {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.not-style li {
  margin-bottom: 8px;
}

.not-style li:last-child {
  margin-bottom: 0;
}

.big-img {
  display: block;
  margin: 30px 0;
}

.big-img img {
  width: 100%;
  border-radius: 4px;
}

.img-lg-cover {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.img-lg-cover picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img-lg-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.img-lg-cover--contain img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.img-lg-right {
  float: right;
}

.img-lg-right img {
  border-radius: 4px;
}

.img-vertical {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 110%;
}

.img-vertical picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img-vertical img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.tabs__btn {
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.tabs__content {
  display: none;
  opacity: 0;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.tabs__content.active {
  display: block;
  opacity: 1;
}

.main-tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.main-tabs__btn {
  color: var(--grey);
  font-weight: 700;
  padding: 10px;
  background-color: var(--bg-color);
  border-radius: 4px;
  border: 1px solid transparent;
}

.main-tabs__btn.active,
.main-tabs__btn:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background-color: var(--white);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  text-align: center;
}

.pagination .page-link {
  display: block;
  font-weight: 600;
  color: var(--accent-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.pagination .page-link:hover {
  background-color: var(--accent-color);
  color: var(--white);
}

.pagination .active .page-link {
  background-color: var(--accent-color);
  color: var(--white);
}

.strong {
  font-weight: 700;
}

@media (min-width: 576px) {
  .our-team__pagination {
    display: none;
  }
}

@media (max-width: 1199px) {
  .icons-list--light .icons-list__item {
    width: 30%;
  }
}

@media (max-width: 991px) {
  .example-item--model .example-item__img {
    padding-bottom: 40%;
  }

  .icons-list--light .icons-list__item {
    width: 45%;
  }

  .img-lg-cover {
    height: 0;
    padding-bottom: 60%;
  }

  .img-lg-cover.img-sm-contain img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .img-lg-right {
    float: none;
  }

  .img-vertical {
    padding-bottom: 60%;
  }
}

@media (max-width: 575px) {
  .breadcrumbs {
    margin-bottom: 30px;
  }

  .breadcrumbs__list {
    font-size: 12px;
  }

  .example-item-brand {
    padding: 15px;
  }

  .example-item-brand .example-item__img {
    padding-bottom: 30%;
  }

  .background-block {
    padding: 20px;
  }

  .icons-list--light {
    gap: 15px 0;
  }

  .icons-list--light .icons-list__item {
    width: 100%;
  }

  .icons-list--big .icons-list__item {
    width: 100%;
  }

  .icons-list--big .icons-list__desc {
    padding: 0 10px;
    max-width: none;
    margin: 0 auto;
  }

  .icons-list--3 .icons-list__item {
    width: 100%;
  }
}

@media (max-width: 991px) and (min-width: 575px) {
  .example-item--model {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}