.search__input:focus,
.custom-input:focus {
  outline: none;
  border-color: var(--special-color);
  -webkit-box-shadow: 0 0 0 2px rgba(34, 146, 65, 0.1);
          box-shadow: 0 0 0 2px rgba(34, 146, 65, 0.1);
}

body.fixed-mb {
  overflow: hidden;
}

body:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  content: "";
  background-color: #2a2a2a;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body.fixed-mb:before {
  z-index: 2;
  opacity: 0.8;
}

h1,
.h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 20px;
}

h2,
.h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

h3,
.h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

h4,
.h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

h5,
.h5 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

h6,
.h6 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 15px;
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6,
.section-title .h1,
.section-title .h2,
.section-title .h3,
.section-title .h4,
.section-title .h5,
.section-title .h6 {
  margin-bottom: 0;
}

.section-title.h1 h2,
.section-title.h1 h3,
.section-title.h1 h4,
.section-title.h1 h5,
.section-title.h1 h6,
.section-title.h2 h2,
.section-title.h2 h3,
.section-title.h2 h4,
.section-title.h2 h5,
.section-title.h2 h6 {
  font-size: inherit;
  line-height: inherit;
}

.section-title__link {
  font-size: 14px;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: underline;
}

main p {
  margin-bottom: 20px;
  line-height: 1.5;
}

main p:last-child {
  margin-bottom: 0;
}

.icon-svg {
  fill: currentColor;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 60px;
}

.page__sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
  max-width: 230px;
}

.page__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 0;
}

.section {
  margin-bottom: 50px;
}

.custom-input {
  display: inline-block;
  padding: 12px 16px;
  font-size: 14px;
  background-color: var(--bg-color);
  border: 1px solid var(--grey-2);
  border-radius: 4px;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.custom-input::-webkit-input-placeholder {
  color: var(--grey);
}

.custom-input::-moz-placeholder {
  color: var(--grey);
}

.custom-input:-ms-input-placeholder {
  color: var(--grey);
}

.custom-input::-ms-input-placeholder {
  color: var(--grey);
}

.custom-input::placeholder {
  color: var(--grey);
}

.main-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--special-color);
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 20px;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.main-btn:hover {
  background-color: var(--special-color-hover);
  color: var(--white);
}

.section-btn {
  text-align: center;
  margin: 30px 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.small-link {
  font-size: 14px;
  color: var(--accent-color);
  text-decoration: underline;
}

.messengers-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
}

.messengers-color__item {
  display: block;
  width: 24px;
  height: 24px;
}

.messengers-color__icon {
  width: 100%;
  height: 100%;
}

.messengers-color__item--telegramm {
  color: #1296C9;
}

.messengers-color__item--telegramm-2 {
  color: #1296C9;
}

.messengers-color__item--whatsapp {
  color: #1EB250;
}

.messengers-color__item--viber {
  color: #AE56A4;
}

.messengers-color__item--skype {
  color: #32C5F0;
}

.messengers-color__item--vk {
  color: #2AABEE;
}

.messengers-color__item--youtube {
  color: #FF0302;
}

.big-phone {
  display: block;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.16;
  white-space: nowrap;
}

.email-link {
  display: block;
  color: var(--accent-color);
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.14;
  white-space: nowrap;
}

.grey-text {
  font-size: 14px;
  color: var(--grey);
}

.breadcrumbs {
  margin-bottom: 50px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  font-size: 14px;
}

.breadcrumbs__item a {
  font-weight: 500;
  color: var(--main-color-font);
  text-decoration: none;
}

.breadcrumbs__item + .breadcrumbs__item {
  padding-left: 10px;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: "/";
  padding-right: 9px;
}

.slider-pagination {
  bottom: 14px !important;
}

.slider-pagination .swiper-pagination-bullet {
  width: 53px;
  height: 3px;
  background-color: var(--grey-2);
  margin: 0 3px !important;
  border-radius: 0;
  opacity: 1;
}

.slider-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color) !important;
}

.slider-button-prev,
.slider-button-next {
  width: 35px;
  height: 50px;
  background-color: var(--white);
  color: var(--grey);
  margin-top: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

.slider-button-prev::after,
.slider-button-next::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 16px;
}

.slider-button-prev {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  left: 0;
}

.slider-button-prev::after {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 17L1 9L9 1' stroke='%2372707A' stroke-width='2'/%3E%3Cpath d='M1 9.10449L19 9.10449' stroke='%2372707A' stroke-width='2'/%3E%3C/svg%3E");
  background-position: center left;
}

.slider-button-prev:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 17L1 9L9 1' stroke='%23F58A0C' stroke-width='2'/%3E%3Cpath d='M1 9.10449L19 9.10449' stroke='%23F58A0C' stroke-width='2'/%3E%3C/svg%3E");
}

.slider-button-next {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  right: 0;
}

.slider-button-next::after {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8187 1L18.7629 9L10.8187 17' stroke='%2372707A' stroke-width='2'/%3E%3Cpath d='M18.7629 8.89551L0.888377 8.89551' stroke='%2372707A' stroke-width='2'/%3E%3C/svg%3E");
  background-position: center right;
}

.slider-button-next:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8187 1L18.7629 9L10.8187 17' stroke='%23F58A0C' stroke-width='2'/%3E%3Cpath d='M18.7629 8.89551L0.888377 8.89551' stroke='%23F58A0C' stroke-width='2'/%3E%3C/svg%3E");
}

.sidebar__search {
  margin-bottom: 20px;
}

.sidebar__consultant {
  margin-bottom: 20px;
}

.sidebar__reviews {
  margin-bottom: 20px;
}

.sidebar__promo {
  margin-bottom: 20px;
}

.search {
  position: relative;
}

.search__input {
  width: 100%;
  display: block;
  padding: 10px 45px 10px 15px;
  border-radius: 4px;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  background-color: var(--bg-color);
  border: 1px solid var(--grey-2);
}

.search__input::-webkit-input-placeholder {
  color: var(--grey);
}

.search__input::-moz-placeholder {
  color: var(--grey);
}

.search__input:-ms-input-placeholder {
  color: var(--grey);
}

.search__input::-ms-input-placeholder {
  color: var(--grey);
}

.search__input::placeholder {
  color: var(--grey);
}

.search__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 17px;
  color: var(--grey);
  width: 24px;
  height: 24px;
}

.search__icon {
  width: 100%;
  height: 100%;
}

.consultant-block {
  padding: 20px 30px 30px;
  border-radius: 4px;
  background-color: var(--white);
  border: 1px solid #F8F8F8;
  -webkit-box-shadow: 0px 4px 20px rgba(153, 153, 153, 0.15);
          box-shadow: 0px 4px 20px rgba(153, 153, 153, 0.15);
  text-align: center;
}

.consultant-block__avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 50%;
  overflow: hidden;
}

.consultant-block__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.consultant-block__name {
  margin-bottom: 5px;
}

.consultant-block__phone {
  font-size: 17px;
  margin-bottom: 10px;
}

.consultant-block__input {
  margin-bottom: 8px;
  width: 100%;
  padding: 12px 5px;
  text-align: center;
}

.consultant-block__btn {
  width: 100%;
}

.reviews-sidebar {
  display: block;
  padding: 14px;
  text-align: center;
  border: 1px solid var(--special-color);
  border-radius: 4px;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.reviews-sidebar__icon {
  width: 27px;
  height: 27px;
  color: var(--special-color);
  -webkit-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

.reviews-sidebar__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.reviews-sidebar__stars {
  color: var(--special-color);
  -webkit-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

.reviews-sidebar__star {
  width: 13px;
  height: 13px;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.reviews-sidebar__star:first-child {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.reviews-sidebar__star:nth-child(2) {
  -webkit-transition-delay: 0.07s;
       -o-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.reviews-sidebar__star:nth-child(3) {
  -webkit-transition-delay: 0.14s;
       -o-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.reviews-sidebar__star:nth-child(4) {
  -webkit-transition-delay: 0.21s;
       -o-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.reviews-sidebar__star:nth-child(5) {
  -webkit-transition-delay: 0.28s;
       -o-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.reviews-sidebar:hover {
  border-color: var(--accent-color);
  color: var(--main-color-font);
}

.reviews-sidebar:hover .reviews-sidebar__icon {
  color: var(--accent-color);
}

.reviews-sidebar:hover .reviews-sidebar__star {
  color: var(--accent-color);
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.promo-sidebar {
  display: block;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: -webkit-filter 0.15s ease-in;
  transition: -webkit-filter 0.15s ease-in;
  -o-transition: filter 0.15s ease-in;
  transition: filter 0.15s ease-in;
  transition: filter 0.15s ease-in, -webkit-filter 0.15s ease-in;
}

.promo-sidebar:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.promo-sidebar__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-title {
  font-weight: 700;
  font-size: 18px;
}

.sale-block {
  margin-bottom: 40px;
}

.sale-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 20px;
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.47;
  background-color: var(--accent-color);
  border-radius: 4px;
  margin-bottom: 5px;
  letter-spacing: 0.6px;
}

.sale-block__icon {
  width: 18px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
}

.sale-block__desc span {
  color: var(--special-color);
}

.sale-block__row {
  margin-top: 6px;
}

.sale-block + .sale-block {
  margin-top: 50px;
}

.sale-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  gap: 10px;
}

.sale-item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.sale-item__img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 53%;
  border-radius: 4px;
  overflow: hidden;
}

.sale-item__img picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sale-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sale-item__mark {
  position: absolute;
  top: 10px;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  color: var(--white);
  font-size: 20px;
  background-color: var(--special-color);
  border-radius: 50%;
}

.sale-item__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sale-item__title {
  margin-bottom: 7px;
  line-height: 1.2;
  color: var(--main-color-font);
}

.sale-item__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--special-color);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 4px;
}

.sale-item__offer-left {
  height: 100%;
  text-align: center;
  color: var(--white);
  background-color: var(--main-color-font);
  padding: 3px 13px;
}

.sale-item__offer-left span {
  text-decoration: line-through;
}

.sale-item__offer-right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  text-align: center;
  color: var(--white);
  font-size: 15px;
  line-height: 1.46;
  padding: 4px 10px;
}

.sale-item__offer-right span {
  text-transform: uppercase;
}

.sale-item__desc {
  font-size: 14px;
  color: var(--grey);
}

.sale-item__desc span {
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--accent-color);
  font-weight: 700;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.sale-item__desc span:hover {
  color: var(--accent-color-hover);
}

.example-block {
  margin: 30px 0;
}

.example-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  gap: 20px;
  padding: 8px;
  border: 2px solid var(--grey-2);
  border-radius: 4px;
  text-align: center;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.example-item:hover {
  border-color: var(--special-color);
}

.example-item__img {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 78%;
  border-radius: 4px;
  overflow: hidden;
}

.example-item__img picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.example-item__title {
  display: block;
  color: var(--main-color-font);
  line-height: 1.4;
}

.example-item__desc {
  font-size: 14px;
  color: var(--grey);
  margin-bottom: 5px;
}

.example-item__offer {
  font-size: 14px;
  margin-bottom: 2px;
  color: var(--main-color-font);
}

.example-item__price {
  color: var(--special-color);
  font-size: 26px;
  font-weight: 700;
}

.example-item__price span {
  color: var(--main-color-font);
}

.example-item__more {
  display: inline-block;
  margin: 0 auto 20px;
  color: var(--white);
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 6px;
  background-color: var(--accent-color);
  border-radius: 4px;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.15s ease;
  -o-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
}

.example-item__more:hover {
  color: var(--white);
  background-color: var(--accent-color-hover);
}

.example-item--model .example-item__img {
  padding-bottom: 82%;
}

.example-item--model .example-item__img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.example-item--model .example-item__title {
  margin-bottom: 10px;
}

.example-item-brand {
  height: 100%;
  padding: 21px 26px;
  border: 2px solid var(--grey-2);
  border-radius: 4px;
  text-align: center;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.example-item-brand:hover {
  border-color: var(--special-color);
}

.example-item-brand .example-item__img {
  max-width: 230px;
  margin: 0 auto;
  padding-bottom: 45%;
  margin-bottom: 11px;
}

.example-item-brand .example-item__img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.example-item-brand .example-item__offer {
  margin-top: 10px;
}

.example-item-brand .example-item__more {
  margin-bottom: 6px;
}

.example-item-form {
  height: 100%;
  background-color: #EDFFEF;
  border-radius: 4px;
  padding: 20px 25px;
}

.example-item-form__title {
  text-align: center;
  margin-bottom: 10px;
}

.example-item-form__list {
  font-size: 12px;
  padding-left: 23px;
  margin-bottom: 10px;
}

.example-item-form__list li {
  list-style: disc;
}

.example-item-form__phone {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.example-item-form__link {
  display: block;
  color: var(--accent-color);
  text-decoration: underline;
  text-align: center;
}

.example-item-form__btn {
  margin-top: 12px;
  width: 100%;
}

.video-block {
  position: relative;
  height: 0;
  padding-bottom: 56%;
  border-radius: 4px;
  overflow: hidden;
  margin: 30px 0;
}

.video-block__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video-block iframe {
  width: 100%;
  height: 100%;
}

.light-border {
  padding: 28px 30px;
  border-radius: 4px;
  border: 1px solid var(--grey-2);
  margin: 20px 0;
}

.light-border p:last-child {
  margin-bottom: 0;
}

.background-block {
  padding: 28px 30px;
  border-radius: 4px;
  border: 1px solid var(--grey-2);
  background: var(--bg-color);
  margin: 20px 0;
}

.background-block p:last-child {
  margin-bottom: 0;
}

.certificates {
  position: relative;
  padding: 0 40px;
  margin-bottom: 75px;
}

.certificates__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certificates__slide-img {
  display: block;
  width: 100%;
}

.certificates__slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.certificates__pagination {
  bottom: -35px !important;
}

.our-team {
  position: relative;
  margin: 30px 0;
}

.our-team__slide {
  text-align: center;
}

.our-team__img {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  overflow: hidden;
  height: 0;
  padding-bottom: 112%;
}

.our-team__img picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.our-team__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-team__position {
  font-weight: 700;
  margin-bottom: 5px;
}

.our-team__name {
  font-size: 14px;
}

.our-team__button-prev {
  top: 44%;
}

.our-team__button-next {
  top: 44%;
}

.our-team__pagination {
  bottom: -20px !important;
}

.icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 0;
  margin: 30px 0;
}

.icons-list__item {
  text-align: center;
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 0;
}

.icons-list__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid var(--grey-2);
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icons-list__icon {
  color: var(--special-color);
  width: 30px;
  height: 30px;
}

.icons-list__title {
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
}

.icons-list--light {
  gap: 30px 0;
}

.icons-list--light .icons-list__item {
  width: 22%;
}

.icons-list--light .icons-list__title {
  font-weight: 500;
  font-size: 12px;
}

.custom-checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #F2F4F5;
  border-radius: 6px;
  width: 24px;
  height: 24px;
  vertical-align: sub;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.custom-checkbox__input:checked {
  background-color: var(--special-color);
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0.875L4.75 9.125L1 5.375' stroke='white' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.custom-checkbox__input:focus {
  outline: none;
  border-color: var(--special-color);
  -webkit-box-shadow: 0 0 0 2px rgba(34, 146, 65, 0.1);
          box-shadow: 0 0 0 2px rgba(34, 146, 65, 0.1);
}

.custom-checkbox__name {
  color: var(--grey);
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin: 30px 0;
}

.color-table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
}

.color-table th {
  color: var(--white);
  background-color: var(--accent-color);
  padding: 17px 10px;
  border: 1px solid var(--grey-2);
}

.color-table tr:nth-child(even) {
  background-color: var(--bg-color);
}

.color-table td {
  padding: 9px;
  border: 1px solid var(--grey-2);
  vertical-align: middle;
  text-align: center;
  height: 45px;
}

.color-table td span {
  color: var(--special-color);
}

.table-var {
  font-size: 15px;
  font-weight: 500;
}

.table-var th {
  text-align: left;
  padding: 17px 20px;
}

.table-var td {
  text-align: left;
  padding: 9px 20px;
}

main ol:not([class]) {
  list-style-type: none;
  counter-reset: li-counter;
}

main ol:not([class]):not(:first-child) {
  margin-top: 20px;
}

main ol:not([class]):not(:last-child) {
  margin-bottom: 30px;
}

main ol:not([class]) li {
  position: relative;
  padding-bottom: 20px;
  padding-left: 55px;
  font-size: 14px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main ol:not([class]) li::before {
  content: counter(li-counter);
  counter-increment: li-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 3px;
  left: 0;
  color: var(--accent-color);
  font-size: 20px;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

main ol:not([class]) li::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 2px solid var(--accent-color);
  top: 38px;
  left: 17px;
  bottom: -3px;
}

main ol:not([class]) li:last-child::after {
  display: none;
}

main ul:not([class]):not(:first-child) {
  margin-top: 20px;
}

main ul:not([class]):not(:last-child) {
  margin-bottom: 30px;
}

main ul:not([class]) li {
  position: relative;
  padding-left: 26px;
  font-size: 14px;
  margin-bottom: 11px;
}

main ul:not([class]) li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  width: 14px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1.5L4.75 9.5L1 5.86364' stroke='%23F58A0C' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.completed-block__row {
  --bs-gutter-y: 20px;
}

.completed-block__item {
  height: 100%;
  padding: 8px;
  padding-bottom: 22px;
  border: 2px solid var(--grey-2);
  border-radius: 4px;
  text-align: center;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.completed-block__item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.completed-block__img {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 78%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

.completed-block__img picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.completed-block__img picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.completed-block__title {
  display: block;
  margin-bottom: 5px;
}

.completed-block__desc {
  display: inline-block;
  font-size: 14px;
  color: var(--grey);
  padding-left: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 10.25C8.225 10.25 7.25 9.275 7.25 8C7.25 6.725 8.225 5.75 9.5 5.75C10.775 5.75 11.75 6.725 11.75 8C11.75 9.275 10.775 10.25 9.5 10.25Z' stroke='%2372707A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.5 16.25C9.5 16.25 4.25 11.9 4.25 8C4.25 5.075 6.575 2.75 9.5 2.75C12.425 2.75 14.75 5.075 14.75 8C14.75 11.975 9.5 16.25 9.5 16.25Z' stroke='%2372707A' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left center;
}

.completed-block--narrow .completed-block__item {
  padding-bottom: 5px;
}

.completed-block--narrow .completed-block__img {
  margin-bottom: 11px;
  padding-bottom: 100%;
}

.gallery-block {
  margin: 30px 0;
}

.gallery-block__item {
  display: block;
  position: relative;
  border: 2px solid var(--grey-2);
  border-radius: 4px;
  height: 0;
  padding-bottom: 100%;
}

.gallery-block__item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery-block__item picture {
  position: absolute;
  top: 9px;
  bottom: 9px;
  left: 9px;
  right: 9px;
  border-radius: 4px;
  overflow: hidden;
}

.gallery-block__item picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.download-form {
  padding: 38px 20px;
  border: 1px solid var(--bg-color);
  border-radius: 4px;
  text-align: center;
  height: 100%;
}

.download-form__title {
  margin-bottom: 17px;
}

.download-form__input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.download-form__input::-webkit-input-placeholder {
  text-align: center;
}

.download-form__input::-moz-placeholder {
  text-align: center;
}

.download-form__input:-ms-input-placeholder {
  text-align: center;
}

.download-form__input::-ms-input-placeholder {
  text-align: center;
}

.download-form__input::placeholder {
  text-align: center;
}

.download-form__btn {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.not-style li {
  margin-bottom: 8px;
}

.not-style li:last-child {
  margin-bottom: 0;
}

.big-img {
  display: block;
  margin: 30px 0;
}

.big-img img {
  width: 100%;
  border-radius: 4px;
}

@media (min-width: 576px) {
  .our-team__pagination {
    display: none;
  }
}

@media (max-width: 1199px) {
  h5,
  .h5 {
    font-size: 20px;
  }

  h6,
  .h6 {
    font-size: 20px;
  }

  .page__row {
    gap: 30px;
  }

  .icons-list__item {
    width: 30%;
  }

  .icons-list--light .icons-list__item {
    width: 30%;
  }
}

@media (max-width: 991px) {
  .sale-item__offer {
    margin-top: 0;
  }

  .example-item--model .example-item__img {
    padding-bottom: 40%;
  }

  .icons-list--light .icons-list__item {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .page__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .page__sidebar {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: none;
  }

  .slider-pagination .swiper-pagination-bullet {
    width: 30px;
  }
}

@media (max-width: 575px) {
  .slider-button-prev,
  .slider-button-next {
    display: none;
  }

  .example-item-brand {
    padding: 15px;
  }

  .example-item-brand .example-item__img {
    padding-bottom: 30%;
  }

  .icons-list__item {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }

  .icons-list--light {
    gap: 15px 0;
  }

  .icons-list--light .icons-list__item {
    width: 100%;
  }
}

@media (max-width: 991px) and (min-width: 575px) {
  .sale-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .sale-item__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    padding-bottom: 35%;
  }

  .example-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .example-item__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    padding-bottom: 35%;
  }

  .example-item--model {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}