.contacts-list__item {
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
}

.contacts-list__icon {
  color: #8C8C8C;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
}

.contacts-list__link {
  text-decoration: underline;
}

.contacts__messengers {
  gap: 10px;
}

.contacts__map {
  height: 425px;
  border-radius: 4px;
  overflow: hidden;
}

.hero-block {
  border: 2px solid var(--grey-2);
  border-radius: 4px;
  overflow: hidden;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0;
  position: relative;
}

.hero-block__label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);
  color: var(--white);
  padding: 10px 50px;
  border-bottom-left-radius: 5px;
  text-transform: uppercase;
}

.hero-block__img {
  width: 49%;
  border-radius: 4px;
  overflow: hidden;
}

.hero-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-block__img--tabs {
  max-height: 390px;
}

.hero-block__tabs {
  position: relative;
  height: 100%;
}

.hero-block__tabs .tabs__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-block__tabs .tabs__btn {
  padding: 10px 20px;
  background-color: rgba(229, 124, 0, 0.4);
  color: var(--white);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 49%;
}

.hero-block__tabs .tabs__btn.active {
  background-color: var(--accent-color);
}

.hero-block__tabs .tabs__wrap,
.hero-block__tabs .tabs__content {
  height: 100%;
}

.hero-block__content {
  width: 51%;
  padding-left: 40px;
  padding-top: 10px;
}

.hero-block__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-block__title span {
  color: var(--accent-color);
}

.hero-block__desc {
  font-size: 14px;
}

.hero-block__label + .hero-block__desc {
  margin-top: 20px;
}

.hero-block__btn {
  margin-top: 30px;
}

.hero-block__input {
  width: 100%;
  margin-bottom: 10px;
}

.hero-block__input-btn {
  width: 100%;
  margin-bottom: 10px;
}

.hero-block__polite {
  font-size: 12px;
}

.hero-block__polite .custom-checkbox__input {
  width: 18px;
  height: 18px;
}

.horizontal-form {
  border: 2px solid var(--grey-2);
  border-radius: 4px;
  padding: 10px;
  padding-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0;
}

.horizontal-form__content {
  width: 68%;
  padding-top: 20px;
  padding-right: 20px;
}

.horizontal-form__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.horizontal-form__btn {
  margin: 20px 0 30px;
}

.horizontal-form__inputs {
  margin: 30px 0;
}

.horizontal-form__input {
  width: 225px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.horizontal-form__img {
  width: 32%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.horizontal-form__img picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.horizontal-form__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.accent-block {
  padding: 30px 20px;
  border-radius: 4px;
  background-color: #EDFFEF;
  text-align: center;
  margin: 50px 0;
}

.accent-block p:last-child {
  margin-bottom: 0;
}

.accent-block__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 9px;
}

.accent-block__desc {
  max-width: 485px;
  margin: 0 auto;
}

.accent-block__btn {
  margin-top: 20px;
}

.accent-block--article {
  text-align: left;
  padding: 25px;
}

.logos-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
  row-gap: 40px;
}

.logos-block__item {
  border: 1px solid var(--grey-2);
  border-radius: 4px;
  width: 23%;
  padding: 17px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logos-block__item img {
  max-height: 105px;
  -o-object-fit: contain;
     object-fit: contain;
}

.article-link__img {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 73%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 15px;
}

.article-link__img:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.article-link__img picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.article-link__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.article-link__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  color: var(--accent-color);
  margin-bottom: 8px;
}

.article-link__intro {
  font-size: 14px;
}

.sk-block {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.sk-block__item {
  text-align: center;
  width: 48%;
  padding: 20px;
  border: 1px solid var(--grey-2);
  border-radius: 5px;
}

.sk-block__title {
  font-size: 24px;
  font-weight: 800;
  margin: 10px 0;
}

.sk-block__title-pod {
  color: #5e5971;
  margin-bottom: 10px;
}

.sk-block__list {
  margin-bottom: 5px;
  text-align: left;
  padding-left: 15px;
}

.sk-block__yes::before {
  content: "+";
  color: #1eb250;
  right: 5px;
  position: relative;
}

.sk-block__no::before {
  content: "-";
  color: red;
  right: 5px;
  position: relative;
}

.sk-block__bac {
  background-color: rgb(240, 240, 240);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.sk-block__price {
  font-size: 24px;
  color: #1eb250;
  font-weight: 800;
}

.sk-block__btn {
  margin: 20px 0;
}

.sk-block__dotter {
  border: 1px dotted #1eb250;
  border-radius: 5px;
  padding: 10px;
}

.rotate-gallery__item {
  padding: 8px;
  border: 2px solid var(--grey-2);
  border-radius: 4px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.rotate-gallery__picture {
  position: relative;
  cursor: pointer;
  min-height: 250px;
  margin-bottom: 20px;
  -webkit-perspective: 1300px;
          perspective: 1300px;
}

.rotate-gallery__picture:hover .rotate-gallery__back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.rotate-gallery__picture:hover .rotate-gallery__front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.rotate-gallery__front,
.rotate-gallery__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.rotate-gallery__img {
  position: relative;
  height: 0;
  margin-bottom: 10px;
  padding-bottom: 100%;
  width: 100%;
  overflow: hidden;
}

.rotate-gallery__img picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rotate-gallery__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.rotate-gallery__back {
  font-size: 15px;
  background-color: var(--accent-color);
  color: var(--white);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 10px;
}

.rotate-gallery__list {
  text-align: left;
  padding: 0 0 0 25px;
  margin-bottom: 5px;
}

.rotate-gallery__list li {
  list-style: disc;
}

.rotate-gallery__title {
  font-size: 16px;
}

.rotate-gallery__btn {
  margin-top: auto;
}

.rotate-gallery__text {
  margin-bottom: 10px;
}

.articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px 40px;
  margin-bottom: 20px;
}

.articles__img {
  display: block;
  position: relative;
  width: 20%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 0;
  padding-bottom: 20%;
  border: 2px solid var(--grey-2);
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.articles__img:hover {
  border-color: var(--special-color);
}

.articles__img picture {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

.articles__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles__title {
  display: block;
  font-size: 20px;
  color: var(--accent-color);
  text-decoration: underline;
  margin-bottom: 20px;
}

.content-list__title {
  color: var(--special-color);
  font-size: 20px;
}

.content-list__list {
  padding-left: 20px;
}

.content-list__list li {
  margin-bottom: 10px;
  list-style: square !important;
}

.content-list__link {
  text-decoration: underline;
  color: var(--accent-color);
}

.article-img {
  width: 85%;
  margin: 30px auto;
}

.article-img img {
  width: 100%;
  border-radius: 4px;
}

.big-number-list {
  counter-reset: li-counter;
  padding-left: 0;
  margin-left: 0;
}

.big-number-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  position: relative;
  padding: 25px 5px 25px 75px;
  margin-bottom: 10px;
  counter-increment: li-counter;
  font-size: 14px;
}

.big-number-list li span {
  display: block;
  position: absolute;
  top: 50%;
  left: 11px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: var(--accent-color);
  width: 57px;
  height: 57px;
}

.big-number-list li::before,
.big-number-list li::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  font-size: 54px;
  line-height: 22px;
  font-weight: 800;
  color: var(--accent-color);
  content: "0" counter(li-counter);
}

.big-number-list li::after {
  font-size: 45px;
  color: #fff;
  -webkit-transform: translate(3px, -55%);
      -ms-transform: translate(3px, -55%);
          transform: translate(3px, -55%);
}

.big-number-list--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-number-list--flex li {
  width: 33%;
}

.completed-gallery {
  position: relative;
  padding: 0 40px;
  margin-bottom: 75px;
}

.completed-gallery__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.completed-gallery__slide-img {
  display: block;
  width: 100%;
}

.completed-gallery__slide-img img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

.completed-gallery__pagination {
  bottom: -35px !important;
}

.faq {
  margin: 30px 0;
}

.faq__question {
  margin-top: 15px;
}

.faq__btn {
  width: 100%;
  background-color: #EDFFEF;
  padding: 10px;
  padding-right: 50px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-left: 4px solid var(--special-color);
  text-align: left;
  position: relative;
  font-weight: 600;
}

.faq__btn::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-top: 2px solid var(--special-color);
  border-right: 2px solid var(--special-color);
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  -webkit-transform: translateY(-75%) rotate(135deg);
      -ms-transform: translateY(-75%) rotate(135deg);
          transform: translateY(-75%) rotate(135deg);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.faq__btn.active::after {
  -webkit-transform: translateY(-25%) rotate(-45deg);
      -ms-transform: translateY(-25%) rotate(-45deg);
          transform: translateY(-25%) rotate(-45deg);
}

.faq__answer {
  padding: 10px 20px;
  background-color: var(--bg-color);
}

.mark-span {
  font-size: 18px;
  color: var(--special-color);
  font-weight: 700;
}

.mark-grn {
  color: var(--special-color);
  font-weight: 700;
}

.mark-big {
  font-size: 24px;
  color: var(--special-color);
  font-weight: 700;
  line-height: 15px;
}

@media (max-width: 1199px) {
  .hero-block__content {
    padding-left: 20px;
  }

  .big-number-list--flex li {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .hero-block {
    padding: 10px;
  }

  .hero-block__img {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .hero-block__content {
    width: 100%;
    padding: 0 0 20px 0;
  }

  .hero-block__label + .hero-block__desc {
    margin-top: 40px;
  }

  .horizontal-form {
    padding-left: 10px;
  }

  .horizontal-form__content {
    width: 100%;
    padding: 0;
  }

  .horizontal-form__btn {
    margin: 15px 0 20px;
  }

  .horizontal-form__inputs {
    margin: 15px 0 20px;
  }

  .horizontal-form__input {
    width: 100%;
  }

  .horizontal-form__input-btn {
    width: 100%;
  }

  .horizontal-form__img {
    width: 100%;
    padding-bottom: 80%;
  }

  .logos-block {
    row-gap: 20px;
  }

  .logos-block__item {
    width: 48%;
  }

  .article-link__img {
    margin-bottom: 10px;
  }

  .sk-block__item {
    width: 100%;
  }

  .articles__item {
    gap: 10px 20px;
  }

  .articles__img {
    width: 30%;
    padding-bottom: 30%;
  }
}

@media (max-width: 575px) {
  .contacts__map {
    height: 350px;
  }

  .hero-block__img--tabs {
    max-height: 250px;
  }

  .accent-block {
    margin: 30px 0;
    padding: 20px 10px;
  }

  .article-img {
    width: 100%;
  }

  .big-number-list--flex li {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .articles__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .articles__img {
    width: 100%;
    padding-bottom: 100%;
  }

  .articles__title {
    margin-bottom: 10px;
  }
}