.contacts-list__item {
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
}

.contacts-list__icon {
  color: #8C8C8C;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
}

.contacts-list__link {
  text-decoration: underline;
}

.contacts__messengers {
  gap: 10px;
}

.contacts__map {
  height: 425px;
  border-radius: 4px;
  overflow: hidden;
}

@media (max-width: 575px) {
  .contacts__map {
    height: 350px;
  }
}